* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: linear-gradient(
    180deg,
    #ffffff 12.49%,
    #e3e8ef 41.15%,
    #e3e8ef 100%
  );
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  letter-spacing: -0.2px;
}

.nav_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu,
.nav_socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu .lang {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav_menu .lang img {
  margin-left: 6px;
}
.nav_menu div {
  margin: 0 26px;
}
.nav_menu div p {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #525252;
  transition: all 0.5s ease;
}
.nav_menu div p:hover {
  transition: all 0.5s ease;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.nav_list_wrapper {
  display: none !important;
}
.active p {
  text-decoration: underline;
  color: #027bf5 !important;
  text-underline-offset: 4px;
}
.nav_socials a {
  margin: 0 18px;
}
.nav_mob_menu {
  display: none;
}

header {
  background: linear-gradient(
      180deg,
      rgba(0, 64, 129, 0.37) 0%,
      rgba(120, 154, 188, 0.431224) 30.23%,
      rgba(255, 255, 255, 0.5) 43.36%,
      rgba(255, 255, 255, 0.5) 46.99%,
      rgba(255, 255, 255, 0) 60.78%
    ),
    linear-gradient(
      180deg,
      rgba(241, 158, 56, 0) 83.78%,
      rgba(241, 158, 56, 0.39) 100%
    ),
    url(./assets/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  padding-top: 60px;
}

.header_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header_title {
  padding-left: 32px;
  margin-bottom: 36px;
}
.header_title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 82px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_road {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

.header_road p {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #027bf5;
}

.left_road {
  width: 20%;
  background: linear-gradient(
    270deg,
    #ffffff 70.38%,
    rgba(255, 255, 255, 0) 93.01%
  );
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 16px 0;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.right_road {
  background: linear-gradient(
    90deg,
    #ffffff 30.05%,
    rgba(255, 255, 255, 0) 97.12%
  );
  width: 78%;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  padding: 16px 0 16px 24px;
}

.header_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 400px;
}

.header_btn button {
  padding: 16px 32px;
  background: #027bf5;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
  transition: all 0.4s ease;
}
.header_btn button:hover {
  transition: all 0.4s ease;
  background: #0068cf;
}

.second_view {
  width: 100%;
  padding-top: 220px;
  background-image: url(./assets/images/second-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_block {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blue_line {
  width: 120px;
  height: 4px;
  background: #027bf5;
  margin-right: 32px;
}
.about_left_text {
  margin-top: -40px;
}

.about_left {
  display: flex;
  align-items: start;
  width: 50%;
}

.about_title p {
  margin-top: 0px;
  font-weight: 800;
  font-size: 65px;
  line-height: 89px;
  text-transform: uppercase;
  color: #2b2a29;
  margin-bottom: 20px;
}

.about_title span {
  color: #027bf5;
}

.about_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #525252;
  margin-bottom: 40px;
}
.about_text span {
  font-weight: 900 !important;
}

.about_btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff !important;
  backdrop-filter: blur(1.5px);
  border-radius: 12px;
  cursor: pointer;
  width: 191px;
  height: 65px;
}
/* .page_wrapper {
 
  margin: 0 auto;
} */

.about_right {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* width: 50%; */
}

.about_right .kazakhstan_flag {
  position: absolute;
  top: 100px;
  left: 120px;
}

.about_right .china_flag {
  position: absolute;
  right: 60px;
  bottom: 110px;
}
.about_right_block {
  max-width: 762px;
  position: relative;
}

.advantage_block {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 180px;
}
.advantage_title {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}
.advantage_title p {
  font-weight: 700;
  font-size: 65px;
  text-transform: uppercase;
  color: #2b2a29;
}

.adv_card .card_img img {
  max-width: 350px;
  height: 350px;
}

.advantage_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  padding: 0 32px;
}

.adv_card {
  padding: 40px 20px 30px 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  width: 677px;
  margin-bottom: 32px;
}
.blue_card {
  background: #1f4d9a;
}

.orange_card {
  background: #f19e38;
}

.adv_card_1 img {
  width: 340px;
  height: 310px;
}
.adv_card_2 img {
  width: 230px;
  height: 350px;
}
.adv_card_3 img {
  width: 300px;
  height: 280px;
}

.adv_card p {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.8;
}

.adv_card h3 {
  font-weight: 800;
  font-size: 34px;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.pre_footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;

  margin-top: 130px;
}

.pre_footer_block {
  background: #ffffff;
  box-shadow: -8px 8px 50px rgba(14, 21, 31, 0.3);
  border-radius: 24px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.pre_footer_texts {
  display: flex;
  align-items: start;
}

.pre_footer_texts_left .blue_line {
  width: 84px;
  margin-right: 33px;
}
.pre_footer_texts_left {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.pre_footer_texts_left h3,
.pre_footer_texts_right h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 89px;
  text-transform: uppercase;
  color: #027bf5;
}
.pre_footer_texts_right h3 {
  color: #2b2a29;
  margin-bottom: 20px;
}

.pre_footer_text {
  display: flex;
}
.pre_footer_text .left_footer_text {
  margin-right: 60px;
}
.pre_footer_text p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #525252;
  margin-bottom: 40px;
}

.pre_footer_bottom {
  display: flex;
}

.bottom_right {
  margin-left: 60px;
}

.right_card {
  background: #f1f4f8;
  backdrop-filter: blur(1.5px);
  border-radius: 12px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.right_card p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #027bf5;
  margin-left: 15px;
}

.bottom_right .header_btn {
  margin-top: 40px;
  padding-bottom: 0;
}
.pre_footer_block .pre_footer_texts,
.pre_footer_block .pre_footer_bottom {
  z-index: 99;
  position: relative;
}

.pre_footer_circle {
  position: absolute;
  width: 1223px;
  height: 1223px;
  top: 300px;
  left: -640px;
  border-radius: 50%;
  z-index: 1;
  background: #4171b3;
}

footer {
  background: #1f4d9a;
  box-shadow: -8px 8px 50px rgba(14, 21, 31, 0.3);
  position: relative;
  overflow: hidden;
}
.footer_wrapper {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  align-items: flex-end;

  padding-top: 140px;
}

.footer_contacts_wrapper {
  display: flex;
  align-items: center;
  align-items: start;
}

.footer_white_line {
  width: 116px;
  height: 4px;
  background: #fff;
  margin-right: 33px;
}
.footer_contacts {
  margin-top: -40px;
}
.footer_contacts h3 {
  font-weight: 700;
  font-size: 65px;
  line-height: 89px;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #ffffff;
}

.contacts p,
.contacts a {
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  text-decoration: none;
}
.contacts p {
  margin-bottom: 10px;
}
.contacts span {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 12px;
  color: #ffffff;
  opacity: 0.8;
}

.contacts div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contacts div img {
  margin-right: 15px;
}
.contacts {
  margin-bottom: 40px;
}
.footer_right {
  margin-left: 13%;
}

.footer_right_form_title p {
  font-size: 20px;

  color: #ffffff;
  margin-bottom: 20px;
}

.footer_form {
  display: flex;
  flex-direction: column;
}
.footer_form input,
.footer_form textarea {
  width: 555px;
  height: 50px;
  text-indent: 20px;
  background: #ffffff;
  border-radius: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #6c6c6c;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.footer_form textarea {
  height: 105px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #6c6c6c;
}

.footer_submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 555px;
  margin-bottom: 90px;
}
.footer_submit div {
  padding-bottom: 0;
  margin: 0;
  width: auto;
}
.footer_submit p {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.8;
}

.footer_logo {
  margin-bottom: 70px;
  margin-left: -100px;
}

.footer_wrapper .footer_left,
.footer_wrapper .footer_right {
  position: relative;
  z-index: 3;
}
.footer_cicle {
  position: absolute;
  width: 1226px;
  height: 1226px;
  border-radius: 50%;
  background: #0f274f;
  right: -300px;
  bottom: -320px;
}
@media only screen and (max-width: 500px) {
  .nav_wrapper {
    padding: 10px;
  }
  .header_wrapper {
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 20px;
  }
  header {
    padding: 0 10px;
  }

  .header_title {
    padding-left: 10px;
    margin-bottom: 16px;
  }
  .header_title h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .header_road {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .header_road p {
    font-size: 10px;
    line-height: 10px;
  }
  .left_road {
    width: 35%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px 10px 8px 0;
  }
  .right_road {
    width: 63%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 8px 0 8px 10px;
  }

  .header_btn {
    width: 100%;
    padding-bottom: 240px;
  }

  .header_btn button {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 18px;
    margin-left: 15px;
  }

  .second_view {
    width: 100%;
    padding-top: 70px;
  }
  .about_block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .blue_line {
    display: none;
  }
  .about_left_text {
    margin-top: -40px;
  }

  .about_left {
    display: flex;
    align-items: start;
    width: 100%;
    padding-left: 10px;
  }

  .about_title p {
    margin-top: 0px;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 10px;
  }

  .about_text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 20px;
  }
  .about_btn {
    border-radius: 6px;
    width: 191px;
    height: 65px;
  }

  .about_right {
    position: relative;
    width: 100%;
  }
  .about_right .about_main_img {
    width: 100%;
  }

  .about_right .kazakhstan_flag {
    width: 80px;
    top: 60px;
    left: 70px;
  }

  .about_right .china_flag {
    width: 80px;
    right: 60px;
    bottom: 70px;
  }

  .advantage_block {
    margin-top: 80px;
  }
  .advantage_block .blue_line {
    display: none;
  }
  .advantage_title {
    padding-bottom: 30px;
  }
  .advantage_title p {
    font-size: 25px;
    padding-left: 20px;
  }

  .adv_card .card_img img {
    max-width: 350px;
    height: 350px;
  }

  .advantage_cards {
    flex-direction: column;
    padding: 0 10px;
  }

  .adv_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
  }

  .adv_card p {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
  }

  .adv_card_1 img {
    width: 290px !important;
    height: 290px !important;
  }
  .adv_card_2 img {
    width: 210px !important;
    height: 300px !important;
  }
  .adv_card_3 img {
    width: 250px !important;
    height: 230px !important;
  }
  .adv_card_4 img {
    width: 250px !important;
    height: 260px !important;
  }

  .adv_card h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 14px;
  }
  .pre_footer {
    padding: 0 10px;
    margin-top: 50px;
  }

  .pre_footer_block {
    border-radius: 10px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pre_footer_texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
  }

  .pre_footer_texts_left .blue_line {
    display: none;
  }
  .pre_footer_texts_left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    text-align: center;
    margin-left: 0px;
  }
  .pre_footer_texts_left,
  .pre_footer_texts_right {
    width: 100%;
  }

  .pre_footer_texts_left h3,
  .pre_footer_texts_right h3 {
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }
  .pre_footer_texts_right h3 {
    color: #2b2a29;
    margin-bottom: 10px;
  }

  .pre_footer_text {
    display: flex;
    flex-direction: column;
  }
  .pre_footer_text .left_footer_text {
    margin-right: 0px;
  }
  .pre_footer_text p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .bottom_left {
    width: 100%;
    margin-bottom: 20px;
  }
  .bottom_left img {
    width: 380px;
  }

  .pre_footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom_right {
    margin-left: 0px;
  }

  .right_card {
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 10px;
  }

  .right_card p {
    font-weight: 600;
    font-size: 19px;
    line-height: 20px;
    color: #027bf5;
    margin-left: 15px;
  }

  .bottom_right .header_btn {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 0;
  }

  .footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
    width: 100%;
  }
  .footer_left {
    width: 100%;
    padding: 0 10px;
  }
  .footer_roadmap img {
    width: 100%;
  }
  .footer_contacts_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: start;
  }
  .footer_cicle {
    position: absolute;
    width: 1226px;
    height: 1226px;
    border-radius: 50%;
    background: #0f274f;
    right: 0px;
    left: -100px;
    bottom: -450px;
  }
  .footer_white_line {
    display: none;
  }
  .footer_contacts {
    margin-top: 0px;
  }
  .footer_contacts h3 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .contacts p,
  .contacts a {
    font-size: 15px;
    line-height: 10px;
  }
  .contacts p {
    margin-bottom: 6px;
  }
  .contacts span {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 6px;
    color: #ffffff;
    opacity: 0.8;
  }

  .contacts div {
    display: flex;
    align-items: center;
    margin-top: 6px;
  }

  .contacts div img {
    margin-right: 10px;
  }
  .contacts {
    margin-bottom: 20px;
  }
  .footer_right {
    margin-left: 0;
  }

  .footer_right_form_title p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .footer_form {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .footer_form input,
  .footer_form textarea {
    width: 100%;
    height: 35px;
    text-indent: 12px;
    border-radius: 6px;
  }

  .footer_form textarea {
    height: 70px;
    padding-top: 6px;
  }

  .footer_submit {
    margin-top: 20px;
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 40px;
  }
  .footer_submit div {
    padding-bottom: 0;
    margin: 0;
    width: auto;
  }
  .footer_submit p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.8;
  }

  .footer_logo {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .nav_wrapper .nav_menu,
  .nav_socials {
    display: none;
  }
  .nav_mob_menu {
    display: flex;
    cursor: pointer;
  }

  .mob_menu_wrapper {
    display: flex !important;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;

    background: #252424;
    z-index: 999;
    padding-left: 30px;
  }

  .mob_menu_wrapper .close_menu {
    margin-top: 20px;
  }

  .mob_menu_wrapper .nav_menu {
    margin-top: 50px;
  }
  .mob_menu_wrapper .nav_menu div {
    margin: 10px 0;
  }

  .mob_menu_wrapper .nav_menu,
  .mob_menu_wrapper .nav_socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mob_menu_wrapper .nav_socials {
    flex-direction: row;
    margin-top: 50px;
  }
  .nav_menu div p {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #cbc9c9;
    transition: all 0.5s ease;
  }
}
